<div class="content">
  <div class="container mt-3">
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header card-header-primary" style="height:45px">
            <h4 class="card-title">Role</h4>
          </div>

          <div class="card-body">
            <form  [formGroup]="roleForm" (ngSubmit)="roleCRUD()" >
              <div class="row">
                
                <div class="col-sm-1">
                  <div class="form-group bmd-form-group">                    
                    <label for="your-input">Role</label>
                  </div>
                </div>

                <div class="col-md-8">
                  <div class="form-group bmd-form-group">
                    <input type="text" class="form-control" [readonly] = "isDisabled" id="roleName" formControlName="role_Name" placeholder="Role Name"
                    data-toggle="tooltip" data-placement="top" title="Enter the role name" 
                    [ngClass]="{'is-invalid': roleForm.get('role_Name').errors && roleForm.get('role_Name').touched}" >
                    <div class="invalid-feedback">Plesae choose role name </div>
                  </div>
                </div>

                <div class="col-sm-1">
                  <div class="form-group bmd-form-group">                    
                    <label for="your-input">Flag</label>
                  </div>
                </div>

                <div class="col-md-2">
                  <div class="form-group bmd-form-group">
                    <ng-select [items]="flaglst" bindLabel="name" bindValue="id"
                        placeholder="Select Flag" formControlName="is_active" [(ngModel)]="selectedFlag">
                        <ng-option [value]="flag.id" [disabled]="isDisabled" *ngFor="let flag of flaglst">
                          {{flag.name}}
                      </ng-option>
                    </ng-select>                    
                  </div>
                </div>
              </div>

              <div class="form-group text-center">
                <button class="button button1 transition-duration: 0.4s; btn mr-2"  [disabled]="isDisabled" type="submit">{{btnString}}</button>
                <button class="button button3 transition-duration: 0.4s; btn mr-2" (click)="cancel()" type="button">Cancel</button>
              </div> 

              <div class="row">
                <div class="col-md-12">   
                  <div class="form-group bmd-form-group">
                    <ag-grid-angular style="height: 350px;"  colResizeDefault='shift' class="ag-theme-alpine" rowSelection='single'
                     (cellClicked)='onCellClicked($event)' 
                      class="ag-theme-balham" [rowData]="rowData" [columnDefs]="columnDefs">
                    </ag-grid-angular>
                  </div>
                </div>   
              </div> 

            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>